  @font-face {
    font-family: 'Custom';
    src: url('@/font-families/8141.otf') format('otf'),
         url('@/font-families/8143.otf') format('otf'),
         url('@/font-families/8145.otf') format('otf'),
         url('@/font-families/8147.otf') format('otf'),
         url('@/font-families/8149.otf') format('otf'),
         url('@/font-families/8159.otf') format('otf');
    /* Дополнительные свойства шрифта */
  }

  html{
    font-size: 16px;
  }
  
  body {
    font-family: 'Custom';
    background: #fbfcfd;
    margin: 0;
    overflow: auto;
  }
  
  .table {
    display: flex;
    gap: 0.3125rem;
    flex-direction: column;
  }
  
  .table-header{
    display: flex;
  }

  .table-header .table-cell {
    border: 0.0625rem solid #ccc;
    padding: 0.3125rem;
  }
  
  .table-header-item {
    padding: 0.625rem;
    border: 0.0625rem solid #ccc;
  }

  .column-input, .row-input {
    width: 100%;
    box-sizing: border-box;
  }

  .row-input{
    padding: 0.3125rem 0.625rem;
  }
  
  .table-row {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .table-row.selected {
    background-color: #e0e0e0;
  }
  
  .row-checkbox {
    margin-right: 0.625rem;
  }
  
  .handle {
    cursor: move;
  }
  
  .resize {
    cursor: ew-resize;
  }
  
  .pointer {
    cursor: pointer;
  }

  .dragging {
    opacity: 0.5;
  }
  
  .droppable {
    border: 0.125rem dashed #000;
  }
  
  .droppable-placeholder {
    border: 0.125rem dashed #000;
    width: 100%;
  }
  
  .table-row:hover .ellipsis-container-desktop {
    display: block;
  }

  .ellipsis-container-mobile{
    display: none;
  }
  
  .ellipsis-block{
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    display: block;
    align-items: center;
  }
  
  .ellipsis-container-desktop {
    display: none;
    position: absolute;
    top: 0;
    left: 0; /* сдвигаем слева, чтобы элемент находился перед чекбоксом */
  }
  
  .ellipsis-icon {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
  }
  
  .button-style{
    padding: 0.625rem 0.9375rem;
    border-radius: 0.3125rem;
    border: none;
    background-color: #2f8cff;
    cursor: pointer;
    font-size: 0.875rem;

    font-family: 'Custom';
    width: fit-content;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
  }
